<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LeaveConsoleOpen" value="true" />
    <add key="DefaultBufferSize" value="4096" />
  </appSettings>
  <connectionStrings>
    <add name="Main" connectionString="Data Source=localhost;Initial Catalog=StreamFile;User ID=StreamFile;Password=password;"/>
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>